<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite.NetFx"/>
	</configSections>

	<RpcLite>
		<version>1.1</version>
		<appId>10000</appId>
		<service>
			<services>
				<add name="ProductService" path="api/service/" type="ServiceTest.ServiceImpl.ProductService,ServiceTest.ServiceImpl"/>
				<add name="TestService" path="api/test/" type="ServiceTest.WebHost.TestService, ServiceTest.WebHost"/>
			</services>
			<paths>
				<add value="api/"/>
			</paths>
		</service>
		<client>
			<clients>
				<add name="ProductService" type="ServiceImpl.ProductAsyncService,ServiceImpl" namespace="v1"/>
			</clients>
		</client>
	</RpcLite>

	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>

	<system.webServer>
		<!--<handlers>
			--><!-- for all RpcLite service path --><!--
			<add name="RpcLite1" path="api/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.NetFx"/>
			<add name="RpcLite2" path="api/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.NetFx"/>
			<add name="RpcLite3" path="api/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.NetFx"/>
			<add name="RpcLite4" path="api/*/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.NetFx"/>
		</handlers>-->
		<modules>
			<add name="RpcLite" type="RpcLite.Service.RpcHttpModule, RpcLite.NetFx"/>
		</modules>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
				<add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>