<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <RpcLite>
    <appId>10000</appId>
    <environment>it</environment>
    <addressResolver name="default" type="RpcLite.Resolvers.HttpClientAddressResolver, RpcLite.Resolvers" />
    <services>
      <!--<add name="ProductService" path="~/api/products/" type="ServiceImpl.ProductService,ServiceImpl"/>-->
      <!--<add name="ProductService" path="~/api/async-product/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>
			<add name="ProductServiceSync" path="~/api/product/" type="ServiceImpl.ProductService,ServiceImpl"/>
			<add name="ProductService2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>-->
      <!--<add name="ProductServiceSync2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>-->
    </services>
    <clients environment="it">
      <!--<add name="ProductService" type="Contracts.IProduct,Contracts" namespace="v1" path="http://localhost:62866/api/product/" />-->
      <add name="ProductService" type="Contracts.IProduct,Contracts" namespace="v1" />
      <add name="RegisteryService" type="ServiceRegistery.Contract.IRegistryService,ServiceRegistery.Common" namespace="v1" path="http://localhost:2212/api/service/" />
    </clients>
  </RpcLite>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>