<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite" />
	</configSections>
	<RpcLite>
		<appId>10000</appId>
		<environment>it</environment>
		<addressResolver name="default" type="RpcLite.Resolvers.HttpClientAddressResolver, RpcLite.Resolvers" />
		<services>
			<!--<add name="ProductService" path="~/api/products/" type="ServiceImpl.ProductService,ServiceImpl"/>-->
			<!--<add name="ProductService" path="~/api/async-product/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>
			<add name="ProductServiceSync" path="~/api/product/" type="ServiceImpl.ProductService,ServiceImpl"/>
			<add name="ProductService2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>-->
			<!--<add name="ProductServiceSync2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>-->
		</services>
		<clients environment="it">
			<!--<add name="ProductService" type="Contracts.IProduct,Contracts" namespace="v1" path="http://localhost:62866/api/product/" />-->
			<add name="ProductService" type="Contracts.IProduct,Contracts" namespace="v1" />
			<add name="RegisteryService" type="ServiceRegistery.Contract.IRegistryService,ServiceRegistery.Common" namespace="v1" path="http://localhost:2212/api/service/" />
		</clients>
	</RpcLite>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.28.0" newVersion="2.2.28.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
