<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<section name="entityFramework"
			type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			requirePermission="false"/>
		<section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite"/>
	</configSections>

	<RpcLite>
		<appId>10000</appId>
		<services>
			<add name="RegistryService" path="~/api/service/" type="ServiceRegistery.Services.RegistryService,ServiceRegistery"/>
		</services>
		<clients>
			<!--<add name="ProductService" path="~/api/products/" type="ServiceImpl.ProductService,ServiceImpl"/>-->
			<add name="ProductService" path="~/api/async-product/" type="ServiceImpl.ProductAsyncService,ServiceImpl" namespace="v1"/>
			<add name="ProductServiceSync" path="~/api/product/" type="ServiceImpl.ProductService,ServiceImpl" namespace="v1"/>
			<add name="ProductService2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl" namespace="v1"/>
		</clients>
	</RpcLite>

	<connectionStrings>
		<!--<add name="ServiceRepositoryEntities"
			connectionString="metadata=res://*/Dal.EF.ServiceRepository.csdl|res://*/Dal.EF.ServiceRepository.ssdl|res://*/Dal.EF.ServiceRepository.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=srvrepo;password=iwe83KaW;persistsecurityinfo=True;database=ServiceRepository&quot;"
			providerName="System.Data.EntityClient" />-->
		<add name="ServiceRepositoryEntities"
			connectionString="metadata=res://*/Dal.EF.ServiceRepository.csdl|res://*/Dal.EF.ServiceRepository.ssdl|res://*/Dal.EF.ServiceRepository.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=srvrepo;password=iwe83KaW;persistsecurityinfo=True;database=ServiceRepository&quot;"
			providerName="System.Data.EntityClient"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>

	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
		</DbProviderFactories>
	</system.data>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"/>
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb"/>
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>

	<system.webServer>
		<handlers>
			<add name="1" path="api/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite, Version=1.0.0.0, Culture=neutral"/>
			<add name="2" path="api/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite, Version=1.0.0.0, Culture=neutral"/>
			<add name="3" path="api/products/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite, Version=1.0.0.0, Culture=neutral"/>
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
				<add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>