<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite.AspNet"/>
	</configSections>

	<RpcLite>
		<appId>10000</appId>
		<services>
			<add name="ProductService" path="/api/service/" type="ServiceTest.ServiceImpl.ProductService,ServiceTest.ServiceImpl"/>
			<add name="TestService" path="/api/test/" type="ServiceTest.WebHost.TestService, ServiceTest.WebHost"/>
		</services>
		<clients>
			<add name="ProductService2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl" namespace="v1"/>
		</clients>
	</RpcLite>

	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>

	<system.webServer>
		<handlers>
			<!-- for all RpcLite service path -->
			<add name="RpcLite1" path="api/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet"/>
			<add name="RpcLite2" path="api/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet"/>
			<add name="RpcLite3" path="api/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet"/>
			<add name="RpcLite4" path="api/*/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet" />
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
				<add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>