<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite" />
	</configSections>
	<RpcLite>
		<!--<add name="ProductService" path="~/api/products/" type="ServiceImpl.ProductService,ServiceImpl"/>-->
		<add name="ProductService" path="~/api/async-product/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>
		<add name="ProductService2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>
	</RpcLite>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<!--<httpHandlers>
			<add path ="api/*" verb="*" type ="RpcLite.RpcHandler,RpcLite"/>
			<add path ="api/*/*" verb="*" type ="RpcLite.RpcHandler,RpcLite"/>
			<add path ="api/products/*" verb="*" type ="RpcLite.RpcHandler,RpcLite"/>
			-->
		<!--<add path ="api/*/*" verb="*" type ="RpcLite.RpcHandler,RpcLite"/>-->
		<!--
		</httpHandlers>-->
	</system.web>
	<system.webServer>
		<handlers>
			<!--<add name="1" path ="api/*" verb="*" type ="RpcLite.RpcHandler,RpcLite"/>
			<add name="2" path ="api/*/*" verb="*" type ="RpcLite.RpcHandler,RpcLite"/>
			<add name="3" path ="api/products/*" verb="*" type ="RpcLite.RpcHandler,RpcLite"/>-->
			<add name="1" path ="api/*" verb="*" type ="RpcLite.Service.RpcAsyncHandler, RpcLite, Version=1.0.0.0, Culture=neutral"/>
			<add name="2" path ="api/*/*" verb="*" type ="RpcLite.Service.RpcAsyncHandler, RpcLite, Version=1.0.0.0, Culture=neutral"/>
			<add name="3" path ="api/products/*" verb="*" type ="RpcLite.Service.RpcAsyncHandler, RpcLite, Version=1.0.0.0, Culture=neutral"/>
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
				<add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
