<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="RpcLite" type="RpcLite.Config.RpcLiteConfigSection, RpcLite.AspNet"/>
	</configSections>
	<RpcLite>
		<appId>10000</appId>
		<services>
			<add name="ProductServiceSync22" path="/api/product/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>
			<!--<add name="ProductService" path="~/api/products/" type="ServiceImpl.ProductService,ServiceImpl"/>-->
			<add name="ProductService" path="~/api/async-product/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>
			<add name="ProductServiceSync" path="~/api/product/" type="ServiceImpl.ProductService,ServiceImpl"/>
			<add name="TestService" path="~/api/test/" type="RpcLite.TestWeb.TestService1, RpcLite.TestWeb"/>
			<add name="ProductService2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>
			<!--<add name="ProductServiceSync2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl"/>-->
		</services>
		<clients>
			<!--<add name="ProductService" path="~/api/products/" type="ServiceImpl.ProductService,ServiceImpl"/>-->
			<add name="ProductService" path="~/api/async-product/" type="ServiceImpl.ProductAsyncService,ServiceImpl" namespace="v1"/>
			<add name="ProductServiceSync" path="~/api/product/" type="ServiceImpl.ProductService,ServiceImpl" namespace="v1"/>
			<add name="ProductService2" path="~/api/" type="ServiceImpl.ProductAsyncService,ServiceImpl" namespace="v1"/>
		</clients>
	</RpcLite>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5"/>
		<httpHandlers>
			<!-- for all RpcLite service path -->
			<!--
			<add path ="api/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite.AspNet"/>
			<add path ="api/*/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite.AspNet"/>
			<add path ="api/products/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite.AspNet"/>
			<add path ="api/*/*" verb="*" type ="RpcLite.Service.RpcHandler, RpcLite.AspNet"/>
			-->
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<handlers>
			<!-- for all RpcLite service path -->
			<add name="RpcLite1" path="api/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet"/>
			<add name="RpcLite2" path="api/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet"/>
			<add name="RpcLite3" path="api/*/*/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet"/>
			<add name="RpcLite4" path="api/products/*" verb="*" type="RpcLite.Service.RpcAsyncHandler, RpcLite.AspNet"/>
		</handlers>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET"/>
				<add name="Access-Control-Allow-Headers" value="x-requested-with,content-type"/>
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>